@import '../../node_modules/bootstrap/scss/bootstrap';

.upper_component {
    height: 65%;
    @extend .mt-5,.mr-4,.ml-4;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid rgba(255,255,255,0.3);

    .arrow{
        @extend .d-flex, .flex-column, .h-100, .align-items-center, .justify-content-center;
    }

    .main_cityname {
        @extend .text-center, .text-white, .font-weight-bold, h1;
    }

    .main_image {
        @extend .text-center, .mt-2, .embed-responsive;
        img{
            width: 45%;
        }
    }

    .main_temperature{
        @extend .text-center, .text-white, .mt-2, h3;
    }

    .secondary_temperature_box{
        @extend .d-flex, .flex-row, .h-100, .align-items-center, .justify-content-between, .mt-5;
        .box{
            @extend .text-center, .flex-fill;
        }
        .temperature{
            @extend .text-white, .mb-4, h6;
        }
        .weather{
            @extend .text-white, h6;
        }
    }
}

.lower_component {
    margin: 2rem 3rem;
    padding: 0;

    .forecast_item_box{
        @extend .d-flex, .flex-column, .align-items-center, .justify-content-start, .h-100;

        .box{
            text-align: center;
            height: 4.5rem;
            img{
                width:50%;
            }
        }

        .temperature{
            @extend .text-white, .mt-1;
        }

        .date{
            @extend .mt-3, .text-white;
        }
    }
}




